<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <!-- <script src="https://unpkg.com/vue@next"></script> -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body>
        <div id="app">
            <select v-model="internalValue" @change="updateValue($event.target.value)"></select>
            <option v-for="entry in coilPlaces" :key="entry.id" :value="entry.id">{{ entry.label }}</option>
        </div>
        

    </body>

    <script>
        const { createApp, ref } = Vue
        createApp({
            setup() {
                const coilPlaces = ref([
                    { id: '1', label: 'Place 1'},
                    { id: '2', label: 'Place 2'}
                ])
            }
        }).mount('#app')


    </script>

    <style>


    </style>
</html>